<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<% @pictures.each do |picture| %>
    <div class="picture">
      <%= image_tag picture.source.url(:medium) %>
      <div class="caption">
        <h4><%= picture.user.email %></h4>
        <%= link_to 'Show', picture %> /
        <%= link_to 'Edit', edit_picture_path(picture) %> /
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
<% end %>

<%= link_to 'New Picture', new_picture_path %>
